@{
    ViewBag.Title = "Sistema Reservas";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Sistema de Gestion de Reservas</h1>
        <p class="lead">El objetivo del proyecto es desarrollar un Sistema de Gestión de Reservas utilizando .NET Framework 4.8, Dapper como ORM para interactuar con una base de datos SQL Server, y una interfaz web funcional que integre CSHTML (Razor), JavaScript, y CSS. Este sistema permitirá a los usuarios gestionar salas y reservas de manera eficiente.</p>
       
    </section>

</main>